*.jar
*.class

/nbproject/
/lists/PP_orgnames.txt
/lists/PP_Onomastica_geonames.txt
/lists/LV_PERS_GAZETTEER.txt
/lists/PP_org_elements.txt
/lists/PP_Onomastica_surnames.txt
/lists/PP_valstis.txt
/lists/LV_LOC_GAZETTEER.txt